.bg-img {
  position: relative;

}

.bg-img::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('./assets/bg-5.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.4;
  z-index: -1;

}

body {
  background-color: #1a202c;
  color: #c0bfbf;
  /* font-family: Arial, sans-serif; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
  --header-bg-color: rgba(5, 5, 5, 0.3);
  --button-border-color: gray;
  --button-text-color: white;
}

.header {
  background: var(--header-bg-color);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  position: fixed;
  /* Ensure the header is fixed at the top */
  top: 0;
  width: 100%;
  z-index: 50;
  transition: background 0.3s ease-in-out;
}

.header.scrolled {
  background: var(--header-bg-color);
  /* Adjust the background for the scrolled state */
}



ul.list {
  list-style: none;
  padding: 0;
}

.list li {
  position: relative;
  padding-bottom: 5px;
  transition: 0.3s;
}

.list li:hover {
  cursor: pointer;
  color: white;

}

.list li::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: rgb(0, 213, 255);
  transition: width 0.3s;
}

.list li:hover::after {
  width: 100%;
}

.hometext {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.aboutus {
  background-image: url(./assets/pattern.png);
  background-size: 100% 100%;
  object-fit: cover;
  background-position: center;
  background-color: rgb(234, 234, 234);
}

.about1 {
  background-image: url(./assets/about1.png);
  background-size: 100% 100%;
  object-fit: cover;
}

.about2 {
  background-image: url(./assets/about2.png);
  background-size: 100% 100%;
  object-fit: cover;
}

.custom-shadow {
  box-shadow: 0 4px 6px rgba(225, 224, 225, 0.5);
}

.custom-shadow-hover:hover {
  box-shadow: 0 10px 15px rgba(185, 185, 185, 0.7);
}

.title {
  background-image: url(./assets/pray1.png);
  background-size: 100% 100%;
  object-fit: cover;
}

.title-bg {
  background-image: url(./assets/pattern.png);
  background-size: 100% 100%;
  object-fit: cover;
  background-color: rgb(234, 234, 234);
  background-position: center;
}

.offer {
  background-image: url(./assets/pattern.png);
  background-size: 100% 100%;
  object-fit: cover;
  background-color: rgb(234, 234, 234);
  background-position: center;
}

.chanel-bg {
  background-image: url(./assets/pattern.png);
  background-size: 100% 100%;
  object-fit: cover;
  background-color: rgb(234, 234, 234);
  background-position: center;
}

.partner {
  background-image: url(./assets/pattern.png);
  background-size: 100% 100%;
  object-fit: cover;
  background-color: rgb(234, 234, 234);
  background-position: center;
}

.carousel {
  background-image: url(./assets/pattern.png);
  background-size: 100% 100%;
  object-fit: cover;
  background-color: rgb(234, 234, 234);
  background-position: center;
}

.document {
  background-image: url(./assets/pattern.png);
  background-size: 100% 100%;
  object-fit: cover;
  background-color: rgb(234, 234, 234);
  background-position: center;
}

.question {
  background-image: url(./assets/pattern.png);
  background-size: 100% 100%;
  object-fit: cover;
  background-color: rgb(234, 234, 234);
  background-position: center;
}

.register {
  background-image: url(./assets/pattern.png);
  background-size: 100% 100%;
  object-fit: cover;
  background-color: rgb(234, 234, 234);
  background-position: center;
}

.footer {
  background-image: url(./assets/pattern.png);
  background-size: 100% 100%;
  object-fit: cover;
  background-color: rgb(3, 83, 66);
  background-position: center;
}

.muttafaqun {
  background-image: url(./assets/muttafaqun.png);
  background-size: 100% 100%;
  object-fit: cover;
  background-color: rgb(234, 234, 234);
  background-position: center;
}

.reg-bg {
  background-image: url(./assets/muttafaqun.png);
  background-size: 100% 100%;
  object-fit: cover;
  background-color: rgb(234, 234, 234);
  background-position: center;
}

.chanel {
  background-image: url(./assets/partners-pray.png);
  background-size: 100% 100%;
  object-fit: cover;
  background-color: rgb(234, 234, 234);
  background-position: center;
}

.shadow-hover:hover {
  border-color: white;
}

.slick-next {
  display: none !important;
}

.slick-arrow {
  display: none !important;
}


